@{
    ViewData["Title"] = "Администрирование";
}

<div class="bg-primary m-1 p-1 text-white text-center">
    <h4>Администрирование</h4>
</div>
<div class="table table-sm table-bordered"></div>

<table class="table table-sm table-borderless">
    <tr align="center">
        <td>
            <a class="btn btn-outline-info" asp-controller="Admin" asp-action="Index">Пользователи</a>
            <a class="btn btn-outline-info" asp-controller="RoleAdmin" asp-action="Index">Роли</a>

        </td>
    </tr>
</table>