@using Microsoft.AspNetCore.Identity
@inject SignInManager<AutoService.DAL.Entities.ApplicationUser> SignInManager
@inject UserManager<AutoService.DAL.Entities.ApplicationUser> UserManager
@inject RoleManager<IdentityRole> RoleManager

<ul class="navbar-nav">
@if (SignInManager.IsSignedIn(User))
{
    <li class="nav-item">
        <a  class="nav-link text-dark" asp-area="Identity" asp-page="/Account/Manage/Index" title="Manage">@User.Identity.Name</a>
    </li>
    <li class="nav-item">
        <form  class="form-inline" asp-area="Identity" asp-page="/Account/Logout" asp-route-returnUrl="@Url.Action("Start", "Home", new { area = "" })">
            <button  type="submit" class="nav-link btn btn-link text-dark">Выход</button>
        </form>
    </li>
}
else
{
    <li class="nav-item">
        <a class="nav-link text-dark" asp-area="Identity" asp-page="/Account/Login">Login</a>
    </li>
}
</ul>
